<!-- Loop start -->
  {{#each Bookitems}}
<div class="col-md-4" data-jplist-item >
    <div class="card mb-4 box-shadow aj_bb_year{{Published}} aj_bb_easy_{{Easyread}}" >
      <div class="{{#each Categories}}aj_bb_cat_{{CategoryID}} {{/each}} "></div>
        <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%;
            display: block;"
            src={{BokomslagURL}}
            data-holder-rendered="true">
        <div class="card-body">
            <p class="card-text name">{{title}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm
                        btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm
                        btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
            </div>
        </div>
    </div>
</div>
{{/each}}